.card-desing{
  
}

.movie-list{
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr ));
  gap: 5px;
  justify-items: center;
  
}

.header-css{
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-left: 300px;
  
}
.batge{
  /* width: 10px;
  height: 10px; */
}